.margin-bottom {
  margin-bottom: 5rem;
}

.span-red {
  color: #ff0000;
}

.padding-sm {
  padding: 2rem;
}

.secondary__heading {
  font-size: 2.6rem;
}
.secondary__heading__text {
  font-size: 1.4rem;
  font-weight: 200;
  letter-spacing: 1px;
}
